@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');

$font-family: 'Smokum', cursive;
$Body-bg-color: lightgrey;
$Box-bg-color: lightgrey;
$box-border-color: black;
$alt-bg-color: lightcoral;

body {
  background-color: $Body-bg-color;
  // display: flex;
  // flex-direction: column;
}

.box {
  align-items: center;
  background-color: $Box-bg-color;
  border: 1px solid $box-border-color;
  color: black;
  display: flex;
  font-family: $font-family;
  height: 100px;
  justify-content: center;
}

button {
}

#display{
  text-align: center;
  font-family: $font-family;
  font-size:x-large;
}

.container{
        max-width: 300px;
}

h1, h2 {
  font-family: $font-family;
}

.alt-color {
  background-color: $alt-bg-color;
}
